

.Intro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.Intro-container{
    display: flex;
    flex-direction: row;
    padding: 0.4em;
    margin-bottom: 2em;

}

.Intro-title{
    position : relative;
    width: 30%;
    padding: 0.3em;
    font-size: 1.3em;
    text-align: center;
}

.Intro-intro-container {
    width: 70%;
    position : relative;
    text-align: justify;
    font-size: 1em;
}

.Intro-intro-item{
    padding: 0.5%;
}