.App {
  text-align: center;
}


.App-home {
  background-image: url("../pic/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-home-container{
  display: flex;
  height: 40vmin;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.App-png{
  height: 95%;
  flex : 1 2 0;
}

.App-intro{
  flex: 3 0 0;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
}

.App-intro-cell{
  height: 1.2em;
}

.App-link {
  color: #61dafb;
}

.App-Basic{
  background-image: url("../pic/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Nav{
  width: 20%;
}

.App-container{
  overflow : scroll;
  width: 80%;
  min-height: 90vh;
  background-color: rgba(245,205,208,0.7);
  margin-right: 2%;
  border-radius: 0% 10% 10% 0%;
}



.App-Work-header-container{
  display: flex;
  height: 40vmin;
}


.App-Work-header-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-Work-project-container{
  height: 60vmin;
  display: flex;
  flex-direction: row;
}
.App-Work-project-box{
  display: flex;
  flex-direction: row;
}
.App-work-project-img-file{
  height: 10%;
}
.App-Work-project-detail{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}


.App-Personal-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding : 0em 1em;
}
.App-Personal-youtube{
  width: 50vw;
  height: 30vw;
}
.App-Personal-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}



a:link, a:visited{
  color : white;
  text-decoration: none;
}
