.Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 90vh;
   /* border-radius: 10% 0% 0% 10%;*/
    /* background: rgba(182,178,199,0.8); */
}


.Nav-index-container{
    font-size: 1em;
    text-align: center;
}

.Nav-index-container-item-now{
    color : #605D73;
}